*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(42, 93, 90);
}
.mini_box{
    width: 636px;
    background: #311313;
    color: #ffffff;
    margin: 20px auto;
font-size: 64px;
font-weight: 700;
text-align: center;
}
.bola{
    margin-bottom: 30px;
    padding: 54px 40px;
    background-color: rgb(31, 232, 183)
}
.box{
    width: 1000px;
    box-sizing: border-box;
border: 10px solid rgb(255, 6, 6);
background: rgb(0, 0, 0);
margin: 20px auto;
padding: 45px 52px;
border: 5px solid red;
}